@font-face {
    font-family: 'Lulo';
    src: url(./Font/Lulo.ttf);
}
@font-face {
    font-family: 'Avenir';
    src: url(./Font/Avenir.otf);
}
:root{
    --cor-primaria: #000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;      
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cab{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-secundaria);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabecalho.fixado {
    top: -100px;
}
.cab_mn1{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.cab_mn2{
    display: flex;
    gap: 50px;
}
.cab_mn3{
    display: none;
}
.cab_img{
    width: 130px;
    height: auto;
}
.cab_lk1{
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    font-style: normal;           
    font-size: 14px;
    color: var(--cor-primaria);
    text-decoration: none;
     
}
.vd_background{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1000;
}
.vd_background video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.js-section {
    opacity: 0;
    transition: 2s;
    transform: translateX(-10rem)
}
.js-section.active {
    transform: translateX(0);
    opacity: 1;
}
#titulo{
    padding-top: 8%;
    text-align: center;
}
.tx1{
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    color: var(--cor-primaria);
    text-align: center;
    padding-top: 70px;
}
.tx2{
    font-family: "Lulo", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 600%;
    line-height: 1.3;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%; 
}

#sbmim{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbmim_textos{
    padding: 20px;
    text-align: left;
    background-color: var(--cor-secundaria);
    height: 100%;
    width: 100%; 
}
.sbmim_txt1{
    font-family: "Lulo", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;

    padding-top: 5%;
    padding-left: 15%;
}
.sbmim_txt2{
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

    padding-top: 3%;
    padding-left: 15%;
    margin-bottom: 51%;
}
.eu_img{
    width: 46%;
    height: auto;
}
.text_servicos{
    font-family: "Lulo", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;

    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 7%;
}
.servicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5%;
}
.front{
    border: 7px solid #000;
    padding: 20px;
    width: 300px;
    height: 200px;
    text-align: center;
    align-items: center;
}
.text_front{
    font-family: "Lulo", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    border-bottom: 2px solid #000;
    padding-bottom: 5%;
    margin-bottom: 15%;
}
.botao_front{
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-style: normal;           
    font-size: 17px;
    color: var(--cor-primaria);
    text-decoration: none;
    background-color: #57BBBF;
    padding: 5%;
}
.consultoria{
    border: 7px solid #000;
    padding: 20px;
    width: 300px;
    height: 200px;
    text-align: center;
}
.text_consultoria{
    font-family: "Lulo", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    border-bottom: 2px solid #000;
    padding-top: 29.5px;
    padding-bottom: 5%;
    margin-bottom: 15%;
}
.botao_consultoria{
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-style: normal;           
    font-size: 17px;
    color: var(--cor-primaria);
    text-decoration: none;
    background-color: #57BBBF;
    padding: 5%;
}
.site{
    border: 7px solid #000;
    padding: 20px;
    width: 300px;
    height: 200px;
    text-align: center;
}
.text_site{
    font-family: "Lulo", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    border-bottom: 2px solid #000;
    padding-top: 29.5px;
    padding-bottom: 5%;
    margin-bottom: 15%;
}
.botao_site{
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-style: normal;           
    font-size: 17px;
    color: var(--cor-primaria);
    text-decoration: none;
    background-color: #57BBBF;
    padding: 5%;
}
.img_whats{
    width: 50px;
    position: fixed;
    bottom: 50px;    
    right: 100px;    
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

@media screen and (max-width: 768px) {

    .cab{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--cor-secundaria);
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .cab_mn2{
        display: flex;
        gap: 20px;
    }
    .tx1{
        font-family: "Avenir", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 100%;
        color: var(--cor-primaria);
        text-align: center;
        padding-top: 80px;
    }
    .tx2{
        font-family: "Lulo", monospace;
        font-weight: 700;
        font-style: normal;
        font-size: 350%;
        line-height: 1.3;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 5%; 
    }

    .sbmim_textos{
        padding: 20px;
        text-align: left;
        background-color: var(--cor-secundaria);
        height: 100%;
        width: 100%; 
    }
    .sbmim_txt1{
        font-family: "Lulo", monospace;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
    
        padding-top: 0%;
        padding-left: 2%;
    }
    .sbmim_txt2{
        font-family: "Avenir", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
    
        padding-top: 3%;
        padding-left: 2%;
        padding-right: 5%;
        margin-bottom: 5%;
    }
    .eu_img{
        width: 50%;
        height: auto;
    }

    .titulo_servicos{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .text_servicos{
        font-family: "Lulo", monospace;
        font-weight: 700;
        font-style: normal;
        font-size: 30px;
    
        padding-top: 5%;
        padding-left: 0%;
        padding-bottom: 7%;
    }
    .servicos{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-bottom: 5%;
    }
}

@media screen and (max-width: 428px) {

    .cab{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--cor-secundaria);
        height: 100px;
        display: flex;
        padding: 0 30px;
        justify-content: space-between;
        align-items: center;
    }
    
    .cabmenu{
        width: 30px;
        height: 30px;
        background-image: url("Image/menu-svgrepo-com.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
    }
    .cab_mn3{
        display: block;
    }
    .menubtn{
        display: none;
    }
    .lista-menu {
        display: none;
        position: absolute;
        flex-direction: column;
        text-align: right;
        gap: 20px;
        right: 0%;
        padding: 20px 30px 20px 0;
        top: 100%;
        width: 35vw;
        background-color: var(--cor-secundaria);
    }
    .menubtn:checked~.lista-menu {
        display: flex;
    }
    .lista-menu__item {
        background-color: var(--branco);
        list-style-type: none;
    }

    .lista-menu__link {
        background-color: var(--branco);
        text-decoration: none;
        font-family: 'Avenir';
        color: var(--cor-primaria);
    }

    .cab_mn2{
        display: none;
    }
    
    .tx1{
        font-family: "Avenir", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 90%;
        color: var(--cor-primaria);
        text-align: center;
        padding-top: 100px;
    }
    .tx2{
        font-family: "Lulo", monospace;
        font-weight: 700;
        font-style: normal;
        font-size: 280%;
        line-height: 1.3;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 5%; 
    }

    #sbmim{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sbmim_textos{
        padding: 20px;
        text-align: left;
        background-color: var(--cor-secundaria);
        height: 100%;
        width: 100%; 
    }
    .sbmim_txt1{
        font-family: "Lulo", monospace;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
    
        padding-top: 2%;
        padding-left: 5%;
    }
    .sbmim_txt2{
        font-family: "Avenir", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
    
        padding-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 5%;
    }
    .eu_img{
        width: 52.5%;
        height: auto;
    }

    .titulo_servicos{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .text_servicos{
        font-family: "Lulo", monospace;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
    
        padding-top: 5%;
        padding-left: 0%;
        padding-bottom: 7%;
    }
    .servicos{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-bottom: 5%;
    }
    .img_whats{
        bottom: 20px;    
        right: 20px;
    }
}
